@charset "UTF-8";

.*{
	margin: 0px;
	padding: 0px;
}

#f_img2{
	width: 70px;
	height: 70px;
}

.btn {
	color: gray;
	font-weight:500;
	border:1px solid #cccccc;
	background-color:#ffffff;
	text-align:center;
	cursor:pointer;
	padding:3px 10px 5px;
	border-radius:4px;
	font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
	margin-bottom: 10px;
	margin-left: 5px;
}

.body-container{
	margin: 80px auto;
	width: 900px;
}

#list_table{
 	height: 50px;
}

.mylist {
	font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
	
}