@charset "UTF-8";
.*{
   margin: 0px;
   padding: 0px;
}

.btn {
	color: gray;
	font-weight:500;
	border:1px solid #cccccc;
	background-color:#ffffff;
	text-align:center;
	cursor:pointer;
	padding:3px 10px 5px;
	border-radius:4px;
	font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
}


.boxTF {
	border: 1px solid #DDDFE0; 
	padding:3px 5px 5px;
	border-radius:4px;
	background-color:#ffffff;
	font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
	height: 25px;
}

.body{
   font-size: 13px;
   font-family: '맑은 고딕';
}

.box{
   margin : 20px auto;
   width: 80%;
   background-color: white;
}

#ftitle{
   width: 800px;
   color: gray;
   border-bottom: 1px solid #DDDFE0;
}

.f_line{
   width: 800px; 
   height: 25px;
   <!-- border: 1px solid gray; -->
   
}

.freeboard{
   width:1000px;
   height : 700px;
   border: 1px solid gray;
   border-left: none;
   border-right: none;
}

.fcontent{
   width: 1000px; 
   height: 400px;
   border: 1px solid gray; 
   border-left : none;
   border-right: none;
   color: gray;
   
   
}



.subtitle{
   padding-left : 20px;
   width: 65px;
   font-weight: bold;
   color: gray;
   height: 40px;
}

#subcontent{
   width: 750px;
   color: gray;
   border-bottom: 1px solid #DDDFE0; 
   border-right: none;
   border-left: none;
   height: 20px;
   
}


#subcontent2{
   width: 100px;
   color: gray;
   border-bottom: 1px solid #DDDFE0; 
   height: 20px;
}

#hitcount{
   width: 100px;
   color: gray;
   border-bottom: 1px solid #DDDFE0; 
}

#f_img2{
	width: 70px;
	height: 70px;
}